In [33]:
import pandas as pd
import seaborn as sns

In [34]:
def title_to_gender(title_series):
    man = [
        'M.',
        'Mr.',
        'Mr',
        'M',
    ]
    
    woman = [
        'Ms.',
        'Mlle',
        'Mme',
        'Mrs.',
        'Ms',
        'Miss',
        'Ms..'
        'Mme Gosselin',
        'Mme.',
        'Miss',
        'Mrs'
    ]
    
    couple = [
        'Mr. & Mrs.',
        'Mme et M.',
        'M. et Mme',
        'Ms. and Mr.',
        'Mmes'
    ]
    
    genders = []
    
    for each in title_series.iteritems():
        
        if each[1] in man:
            gender = 'man'
        elif each[1] in woman:
            gender = 'woman'
        elif each[1] in couple:
            gender = 'couple'
        else:
            gender = ''
        
        genders.append(gender)
        
    return genders

In [35]:
df = pd.read_csv('./Kanpe donors - revised - dpfinancialexport (1).csv')

In [36]:
columns = df.columns.values.tolist()

In [37]:
cities = df.CITY.str.lower().sort_values().unique().tolist()
# len(df.CITY.str.upper().sort_values().unique().tolist())

In [38]:
df.drop(
    labels=['STATE', 'COUNTRY', 'LANGUAGE'],
    axis=1,
    inplace=True
)

In [39]:
df['gender'] = title_to_gender(df['TITLE'])